<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>
    <h1 th:text="'List of Vets'">List of Vets...</h1>

    <table class="table table-striped">
        <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <th th:text="${vet?.id}">1</th>
            <th th:text="${vet?.firstName}">Joe</th>
            <th th:text="${vet?.lastName}">Buck</th>
        </tr>
        </tbody>
    </table>

</body>
</html>